* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: white;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #f0b208;
    color: #fff;
  
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  
  .nav a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-size: 20px;

  }
  
  .nav a:hover {
    text-decoration: underline;
  }

  /* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos del contenedor principal */
  main {
    background-color: #ffffff;
    padding: 30px;
    margin-top: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Estilos del formulario */
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="date"]:focus {
    border-color: #f0b208 ;
    outline: none;
  }
  
  /* Estilos del botón */
  button[type="submit"] {
    padding: 12px;
    font-size: 16px;
    background-color: #f0b208;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #ffa600;
  }
  