* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: white;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #f0b208;
    color: #fff;
  
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  
  .nav a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-size: 20px;

  }
  
  .nav a:hover {
    text-decoration: underline;
  }

/* Hero Section */
.hero {
    width: 100%;
    height: 300px;
    background-color:#333;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    margin-top: 10px;
}


/* Icon Section */
.icon-section {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    gap: 40px;
    
}

.icon-section div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Coloca el icono encima del texto */
    color: white;
    background-color: #f0b208; /* Fondo de cada cajita */
    padding: 20px; /* Espacio interno en la cajita */
    border-radius: 8px; /* Bordes redondeados */
    width: 200px; /* Aumenta el ancho de cada cajita */
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; /* Asegura que el texto esté centrado */
}

.icon-section a {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Hace que el enlace ocupe todo el ancho del contenedor */
}

.icon-section i {
    font-size: 2rem;
    margin-bottom: 10px;
}



