<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividades Estudiante</title>
    <link rel="stylesheet" href="../css/Actividades_estudiante.css">
</head>
<body>
    <header class="header">
        <div class="logo">LOGO</div>
        <nav class="nav">
          <a href="../templates/inicio.html">Inicio</a>
          <a href="#contacto">Contáctanos</a>
          <a href="#nosotros">Nosotros</a>
        </nav>
      </header>

      <div class="container">
        <h1>Actividades Pendientes</h1>
        <div class="activities-grid">
            <div class="activity-card">
                <h2>Matemáticas</h2>
                <p>Resolver el ejercicio 4 de la página 52 del libro.</p>
                <p class="deadline">Fecha límite: 18 de noviembre</p>
                <span class="status">Pendiente</span>
            </div>
            <div class="activity-card">
                <h2>Historia</h2>
                <p>Preparar la presentación sobre la Revolución Francesa.</p>
                <p class="deadline">Fecha límite: 20 de noviembre</p>
                <span class="status">Pendiente</span>
            </div>
            <div class="activity-card">
                <h2>Ciencias</h2>
                <p>Terminar el informe del experimento sobre plantas.</p>
                <p class="deadline">Fecha límite: 22 de noviembre</p>
                <span class="status">Pendiente</span>
            </div>
            <div class="activity-card">
                <h2>Fisica</h2>
                <p>Taller #2</p>
                <p class="deadline">Fecha límite: 23 de noviembre</p>
                <span class="status">Pendiente</span>
            </div>
            <div class="activity-card">
                <h2>Ingles</h2>
                <p>Workbook paginas 12-20</p>
                <p class="deadline">Fecha límite: 24 de noviembre</p>
                <span class="status">Pendiente</span>
            </div>
            <div class="activity-card">
                <h2>Artes</h2>
                <p>Actividad acuarelas</p>
                <p class="deadline">Fecha límite: 22 de noviembre</p>
                <span class="status">Pendiente</span>
            </div>
            <div class="activity-card">
                <h2>Quimica</h2>
                <p>Informe de laboratorio #3</p>
                <p class="deadline">Fecha límite: 20 de noviembre</p>
                <span class="status">Pendiente</span>
            </div>
            <div class="activity-card">
                <h2>Informatica</h2>
                <p>Taller Excel</p>
                <p class="deadline">Fecha límite: 23 de noviembre</p>
                <span class="status">Pendiente</span>
            </div>
        </div>
    </div>
    
    
</body>
</html>