<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar materias</title>
    <link rel="stylesheet" href="../css/Asignar_materias.css">
</head>
<body>
    <header class="header">
        <div class="logo">LOGO</div>
        <nav class="nav">
          <a href="../templates/inicio.html">Inicio</a>
          <a href="#contacto">Contáctanos</a>
          <a href="#nosotros">Nosotros</a>
        </nav>
      </header>
    
</body>
</html>