<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>

  <!-- Header -->
  <header class="header">
    <div class="logo">LOGO</div>
    <nav class="nav">
      <a href="#contacto">Contáctanos</a>
      <a href="#nosotros">Nosotros</a>
    </nav>
  </header>



  <div class="container flex">
    <div class="page flex">
      <div class="text">
        <h1>Página</h1>
        <p>Lorem, ipsum dolor sit amet consectetur 
         <br> adipisicing elit. Aut esse expedita sit labore 
          <br>molestiae explicabo corporis </p>
        
      </div>
      <form action="#">
        <input type="email" placeholder="Email or phone number" required>
        <input type="password" placeholder="Password" required>
        <div class="link">
          <button type="submit" class="login">Login</button>
          <a href="#" class="forgot">Forgot password?</a>
        </div>
        <hr>
        
      </form>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="footer">
    <p>Ubicación: Calle, Ciudad, País</p>
    <div class="social-links">
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">Instagram</a>
    </div>
  </footer>

  <script src="../js/scrip_formulario.js"></script>

</body>
</html>