<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../css/inicio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>
<body>
    <header class="header">
        <div class="logo">LOGO</div>
        <nav class="nav">
          <a href="#Inicio">Inicio</a>
          <a href="#contacto">Contáctanos</a>
          <a href="#nosotros">Nosotros</a>
        </nav>
      </header>

    <!-- Hero  -->
    <section class="hero">
        <h1>Escoje tu perfil</h1>
       
    </section>

    <!-- Icon -->
    <section class="icon-section">
        <div>
            <a href="estudiante.html">
                <i class="fa-solid fa-address-card"></i>
                <p>Estudiante</p>
                
            </a>
        </div>
        <div>
            <a href="profesor.html">
                <i class="fa-solid fa-chalkboard-user"></i>
                <p>Profesor</p>
            </a>
        </div>
        <div>
            <a href="administrador.html">
                <i class="fa-solid fa-user-tie"></i>
                <p>Administrador</p>
            </a>
       
    
    
</body>
</html>