<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Usuarios</title>
    <link rel="stylesheet" href="../css/Ver_usuarios.css">
</head>
<body>
    <header class="header">
        <div class="logo">LOGO</div>
        <nav class="nav">
          <a href="../templates/inicio.html">Inicio</a>
          <a href="#contacto">Contáctanos</a>
          <a href="#nosotros">Nosotros</a>
        </nav>
      </header>

      <div class="container">
        <h1>Usuarios</h1>
        <table>
          <thead>
            <tr>
              <th>Profesores</th>
              <th>Estudiantes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <details>
                  <summary>Profesor 1</summary>
                  <form>
                    <label for="nombre-p1">Nombre</label>
                    <input type="text" id="nombre-p1" value="Profesor 1" readonly>
                    
                    <label for="correo-p1">Correo</label>
                    <input type="email" id="correo-p1" placeholder="Correo electrónico">
                    
                    <label for="rol-p1">Telefono</label>
                    <input type="text" id="rol-p1" value="Profesor" readonly>
                    
                    <label for="rol-p1">Direccion</label>
                    <input type="text" id="rol-p1" value="Profesor" readonly>


                    <div class="button"></div>
                    <button type="submit">Editar</button>
                    <button type="submit">Guardar</button>
                  </form>
                </details>
              </td>
              <td>
                <details>
                  <summary>Estudiante 1</summary>
                  <form>
                    <label for="nombre-e1">Nombre</label>
                    <input type="text" id="nombre-e1" value="Estudiante 1" readonly>
                    
                    <label for="correo-e1">Correo</label>
                    <input type="email" id="correo-e1" placeholder="Correo electrónico">
                    
                    <label for="rol-e1">Telefono</label>
                    <input type="text" id="rol-e1" value="Estudiante" readonly>
                    
                    <label for="rol-e1">Direccion</label>
                    <input type="text" id="rol-e1" value="Estudiante" readonly>
                    
                    <div class="button"></div>
                    <button type="submit">Editar</button>
                    <button type="submit">Guardar</button>
                  </form>
                </details>
              </td>
            </tr>
            <tr>
              <td>
                <details>
                  <summary>Profesor 2</summary>
                  <form>
                    <label for="nombre-p2">Nombre</label>
                    <input type="text" id="nombre-p2" value="Profesor 2" readonly>
                    
                    <label for="correo-p2">Correo</label>
                    <input type="email" id="correo-p2" placeholder="Correo electrónico">
                    
                    <label for="rol-p1">Telefono</label>
                    <input type="text" id="rol-p1" value="Profesor" readonly>
                    
                    <label for="rol-p1">Direccion</label>
                    <input type="text" id="rol-p1" value="Profesor" readonly>
                    
                    <div class="button"></div>
                    <button type="submit">Editar</button>
                    <button type="submit">Guardar</button>
                  </form>
                </details>
              </td>
              <td>
                <details>
                  <summary>Estudiante 2</summary>
                  <form>
                    <label for="nombre-e2">Nombre:</label>
                    <input type="text" id="nombre-e2" value="Estudiante 2" readonly>
                    
                    <label for="correo-e2">Correo:</label>
                    <input type="email" id="correo-e2" placeholder="Correo electrónico">
                    
                    <label for="rol-e1">Telefono</label>
                    <input type="text" id="rol-e1" value="Estudiante" readonly>
                    
                    <label for="rol-e1">Direccion</label>
                    <input type="text" id="rol-e1" value="Estudiante" readonly>
                    
                    <div class="button"></div>
                    <button type="submit">Editar</button>
                    <button type="submit">Guardar</button>
                  </form>
                </details>
              </td>
            </tr>
            <tr>
                <td>
                  <details>
                    <summary>Profesor 3</summary>
                    <form>
                      <label for="nombre-p1">Nombre</label>
                      <input type="text" id="nombre-p1" value="Profesor 1" readonly>
                      
                      <label for="correo-p1">Correo</label>
                      <input type="email" id="correo-p1" placeholder="Correo electrónico">
                      
                      <label for="rol-p1">Telefono</label>
                      <input type="text" id="rol-p1" value="Profesor" readonly>
                      
                      <label for="rol-p1">Direccion</label>
                      <input type="text" id="rol-p1" value="Profesor" readonly>
  
  
                      <div class="button"></div>
                      <button type="submit">Editar</button>
                      <button type="submit">Guardar</button>
                    </form>
                  </details>
                </td>
                <td>
                  <details>
                    <summary>Estudiante 3</summary>
                    <form>
                      <label for="nombre-e1">Nombre</label>
                      <input type="text" id="nombre-e1" value="Estudiante 1" readonly>
                      
                      <label for="correo-e1">Correo</label>
                      <input type="email" id="correo-e1" placeholder="Correo electrónico">
                      
                      <label for="rol-e1">Telefono</label>
                      <input type="text" id="rol-e1" value="Estudiante" readonly>
                      
                      <label for="rol-e1">Direccion</label>
                      <input type="text" id="rol-e1" value="Estudiante" readonly>
                      
                      <div class="button"></div>
                      <button type="submit">Editar</button>
                      <button type="submit">Guardar</button>
                    </form>
                  </details>
                </td>
              </tr>
              <tr>
                <td>
                  <details>
                    <summary>Profesor 4</summary>
                    <form>
                      <label for="nombre-p1">Nombre</label>
                      <input type="text" id="nombre-p1" value="Profesor 1" readonly>
                      
                      <label for="correo-p1">Correo</label>
                      <input type="email" id="correo-p1" placeholder="Correo electrónico">
                      
                      <label for="rol-p1">Telefono</label>
                      <input type="text" id="rol-p1" value="Profesor" readonly>
                      
                      <label for="rol-p1">Direccion</label>
                      <input type="text" id="rol-p1" value="Profesor" readonly>
  
  
                      <div class="button"></div>
                      <button type="submit">Editar</button>
                      <button type="submit">Guardar</button>
                    </form>
                  </details>
                </td>
                <td>
                  <details>
                    <summary>Estudiante 4</summary>
                    <form>
                      <label for="nombre-e1">Nombre</label>
                      <input type="text" id="nombre-e1" value="Estudiante 1" readonly>
                      
                      <label for="correo-e1">Correo</label>
                      <input type="email" id="correo-e1" placeholder="Correo electrónico">
                      
                      <label for="rol-e1">Telefono</label>
                      <input type="text" id="rol-e1" value="Estudiante" readonly>
                      
                      <label for="rol-e1">Direccion</label>
                      <input type="text" id="rol-e1" value="Estudiante" readonly>
                      
                      <div class="button"></div>
                      <button type="submit">Editar</button>
                      <button type="submit">Guardar</button>
                    </form>
                  </details>
                </td>
              </tr>
              <tr>
                <td>
                  <details>
                    <summary>Profesor 5</summary>
                    <form>
                      <label for="nombre-p1">Nombre</label>
                      <input type="text" id="nombre-p1" value="Profesor 1" readonly>
                      
                      <label for="correo-p1">Correo</label>
                      <input type="email" id="correo-p1" placeholder="Correo electrónico">
                      
                      <label for="rol-p1">Telefono</label>
                      <input type="text" id="rol-p1" value="Profesor" readonly>
                      
                      <label for="rol-p1">Direccion</label>
                      <input type="text" id="rol-p1" value="Profesor" readonly>
  
  
                      <div class="button"></div>
                      <button type="submit">Editar</button>
                      <button type="submit">Guardar</button>
                    </form>
                  </details>
                </td>
                <td>
                  <details>
                    <summary>Estudiante 5</summary>
                    <form>
                      <label for="nombre-e1">Nombre</label>
                      <input type="text" id="nombre-e1" value="Estudiante 1" readonly>
                      
                      <label for="correo-e1">Correo</label>
                      <input type="email" id="correo-e1" placeholder="Correo electrónico">
                      
                      <label for="rol-e1">Telefono</label>
                      <input type="text" id="rol-e1" value="Estudiante" readonly>
                      
                      <label for="rol-e1">Direccion</label>
                      <input type="text" id="rol-e1" value="Estudiante" readonly>
                      
                      <div class="button"></div>
                      <button type="submit">Editar</button>
                      <button type="submit">Guardar</button>
                    </form>
                  </details>
                </td>
              </tr>
              <tr>
                <td>
                  <details>
                    <summary>Profesor 6</summary>
                    <form>
                      <label for="nombre-p1">Nombre</label>
                      <input type="text" id="nombre-p1" value="Profesor 1" readonly>
                      
                      <label for="correo-p1">Correo</label>
                      <input type="email" id="correo-p1" placeholder="Correo electrónico">
                      
                      <label for="rol-p1">Telefono</label>
                      <input type="text" id="rol-p1" value="Profesor" readonly>
                      
                      <label for="rol-p1">Direccion</label>
                      <input type="text" id="rol-p1" value="Profesor" readonly>
  
  
                      <div class="button"></div>
                      <button type="submit">Editar</button>
                      <button type="submit">Guardar</button>
                    </form>
                  </details>
                </td>
                <td>
                  <details>
                    <summary>Estudiante 6</summary>
                    <form>
                      <label for="nombre-e1">Nombre</label>
                      <input type="text" id="nombre-e1" value="Estudiante 1" readonly>
                      
                      <label for="correo-e1">Correo</label>
                      <input type="email" id="correo-e1" placeholder="Correo electrónico">
                      
                      <label for="rol-e1">Telefono</label>
                      <input type="text" id="rol-e1" value="Estudiante" readonly>
                      
                      <label for="rol-e1">Direccion</label>
                      <input type="text" id="rol-e1" value="Estudiante" readonly>
                      
                      <div class="button"></div>
                      <button type="submit">Editar</button>
                      <button type="submit">Guardar</button>
                    </form>
                  </details>
                </td>
              </tr>
              <tr>
                <td>
                  <details>
                    <summary>Profesor 7</summary>
                    <form>
                      <label for="nombre-p1">Nombre</label>
                      <input type="text" id="nombre-p1" value="Profesor 1" readonly>
                      
                      <label for="correo-p1">Correo</label>
                      <input type="email" id="correo-p1" placeholder="Correo electrónico">
                      
                      <label for="rol-p1">Telefono</label>
                      <input type="text" id="rol-p1" value="Profesor" readonly>
                      
                      <label for="rol-p1">Direccion</label>
                      <input type="text" id="rol-p1" value="Profesor" readonly>
  
  
                      <div class="button"></div>
                      <button type="submit">Editar</button>
                      <button type="submit">Guardar</button>
                    </form>
                  </details>
                </td>
                <td>
                  <details>
                    <summary>Estudiante 7</summary>
                    <form>
                      <label for="nombre-e1">Nombre</label>
                      <input type="text" id="nombre-e1" value="Estudiante 1" readonly>
                      
                      <label for="correo-e1">Correo</label>
                      <input type="email" id="correo-e1" placeholder="Correo electrónico">
                      
                      <label for="rol-e1">Telefono</label>
                      <input type="text" id="rol-e1" value="Estudiante" readonly>
                      
                      <label for="rol-e1">Direccion</label>
                      <input type="text" id="rol-e1" value="Estudiante" readonly>
                      
                      <div class="button"></div>
                      <button type="submit">Editar</button>
                      <button type="submit">Guardar</button>
                    </form>
                  </details>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    
</body>
</html>