<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Estudiantes</title>
    <link rel="stylesheet" href="../css/Visualizar_estudiantes.css">
</head>
<body>
    
    <header class="header">
        <div class="logo">LOGO</div>
        <nav class="nav">
          <a href="../templates/inicio.html">Inicio</a>
          <a href="#contacto">Contáctanos</a>
          <a href="#nosotros">Nosotros</a>
        </nav>
      </header>

    <h1>Lista de Estudiantes</h1>

    <div class="estudiantes-container" id="estudiantesContainer">
        <div class="estudiante">
            <h2>Nombre: Juan Pérez</h2>
            <p>ID: 001</p>
            <p>Curso: Matemáticas Avanzadas</p>
        </div>
        <div class="estudiante">
            <h2>Nombre: María López</h2>
            <p>ID: 002</p>
            <p>Curso: Literatura y Composición</p>
        </div>
        <div class="estudiante">
            <h2>Nombre: Carlos Martínez</h2>
            <p>ID: 003</p>
            <p>Curso: Física Aplicada</p>
        </div>
        <div class="estudiante">
            <h2>Nombre: Ana González</h2>
            <p>ID: 004</p>
            <p>Curso: Historia Universal</p>
        </div>
        <div class="estudiante">
            <h2>Nombre: Luis Ramírez</h2>
            <p>ID: 005</p>
            <p>Curso: Programación en Python</p>
        </div>
    </div>
</body>
</html>